In [1]:
import pandas as pd
import numpy as np

In [2]:
df1 = pd.read_csv('/Users/chenwang/Dropbox/SDG_Adjusted_File_Daily.csv')

In [3]:
df1.head()

,Unnamed: 0,Timestamp,Ticker,ISIN,Company_Name,GICS Sector,SDG_1_ADJ,SDG_2_ADJ,SDG_3_ADJ,SDG_4_ADJ,...,SDG_9_News_Volume,SDG_10_News_Volume,SDG_11_News_Volume,SDG_12_News_Volume,SDG_13_News_Volume,SDG_14_News_Volume,SDG_15_News_Volume,SDG_16_News_Volume,SDG_17_News_Volume,SDG_News_Volume_Mean
0,0,2013-04-01,A,US00846U1016,agilent technologies inc,Health Care,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,2013-04-02,A,US00846U1016,agilent technologies inc,Health Care,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,2013-04-03,A,US00846U1016,agilent technologies inc,Health Care,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,2013-04-04,A,US00846U1016,agilent technologies inc,Health Care,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,2013-04-05,A,US00846U1016,agilent technologies inc,Health Care,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
df2 = pd.read_csv('/Users/chenwang/Dropbox/SDG_Data_File_Daily.csv')

In [5]:
df2.head()

,Unnamed: 0,Timestamp,Ticker,ISIN,Company_Name,GICS Sector,SDG_1,SDG_2,SDG_3,SDG_4,...,SDG_9_News_Volume,SDG_10_News_Volume,SDG_11_News_Volume,SDG_12_News_Volume,SDG_13_News_Volume,SDG_14_News_Volume,SDG_15_News_Volume,SDG_16_News_Volume,SDG_17_News_Volume,SDG_News_Volume_Mean
0,0,2013-04-01,A,US00846U1016,agilent technologies inc,Health Care,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,2013-04-02,A,US00846U1016,agilent technologies inc,Health Care,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,2013-04-03,A,US00846U1016,agilent technologies inc,Health Care,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,2013-04-04,A,US00846U1016,agilent technologies inc,Health Care,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,2013-04-05,A,US00846U1016,agilent technologies inc,Health Care,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
df3 = pd.read_csv('/Users/chenwang/Dropbox/Sentiment_Data_File_Daily.csv')
df3.head()

,Unnamed: 0,Timestamp,Ticker,ISIN,Company_Name,GICS Sector,Sentiment,STS,LTS,Sentiment_STD,Sentiment_News_Volume
0,0,2013-04-01,AOS,US8318652091,a. o. smith corp,Industrials,NaN,NaN,NaN,NaN,NaN
1,1,2013-04-02,AOS,US8318652091,a. o. smith corp,Industrials,NaN,NaN,NaN,NaN,NaN
2,2,2013-04-03,AOS,US8318652091,a. o. smith corp,Industrials,NaN,NaN,NaN,NaN,NaN
3,3,2013-04-04,AOS,US8318652091,a. o. smith corp,Industrials,NaN,NaN,NaN,NaN,NaN
4,4,2013-04-05,AOS,US8318652091,a. o. smith corp,Industrials,NaN,NaN,NaN,NaN,NaN

In [26]:
#all the tickers in the files
tickers = list(set(df3['Ticker'].tolist()))

In [15]:
# Time span
start = min(df3['Timestamp'])
end = max(df3['Timestamp'])

In [19]:
from pandas_datareader import data

In [30]:
#Get historical time series data from all the tickers in the files, including:
      #Daily prices
      #Earnings/Price Ratio 
      #Book Value/Price Ratio
#panel_data = data.DataReader(tickers, 'yahoo', start, end)

In [28]:
# Learning from warnings
# Failed to read symbol: '', replacing with NaN.
junk_list = ['RHT','S','AGN','AVP','ZAYO','BBT','TSS','APC','GGP','BRK/B','VIAB','JEC','DATA','TMK','CELG','BF/B','WFTIQ','SYMC','WBC','CBS','DNB','HCP','BHGE','FDC','DO','LPT']

In [35]:
tickers_new = list(set(tickers)-set(junk_list))

In [36]:
panel_data = data.DataReader(tickers_new, 'yahoo', start, end)

In [37]:
panel_data

Attributes  Adj Close                                                \
Symbols           CTL         PNC        NBL         SWK        RRC
Date
2013-04-01  18.551210   53.553322  52.027149   68.527077  77.689720
2013-04-02  18.721502   54.383595  51.973339   68.312447  76.490646
2013-04-03  18.657644   53.016079  51.686283   67.900414  73.966743
2013-04-04  19.168524   53.398659  50.551556   67.290932  73.986084
2013-04-05  19.216415   53.105618  50.040257   66.578476  76.510002
...               ...         ...        ...         ...        ...
2020-04-16   9.300661   88.601967   6.223841  105.674271   4.430000
2020-04-17   9.777618   99.327362   6.920912  111.447693   4.650000
2020-04-20   9.672688  100.354889   6.831289  109.407684   5.140000
2020-04-21   9.262505   96.880875   6.701832  105.307854   5.270000
2020-04-22   9.252966   96.783020   7.219656  106.327866   5.120000

Attributes                                                          ...  \
Symbols           REGN       ALKS        PWR          D       ANDV  ...
Date                                                                ...
2013-04-01  178.509995  23.080000  27.644611  42.957085  50.639557  ...
2013-04-02  185.000000  23.860001  26.763079  43.274529  49.009472  ...
2013-04-03  182.690002  23.180000  26.139067  43.370499  46.550980  ...
2013-04-04  185.089996  22.740000  26.376783  43.916782  47.192326  ...
2013-04-05  185.410004  22.350000  26.673935  44.020145  47.423923  ...
...                ...        ...        ...        ...        ...  ...
2020-04-16  539.929993  15.550000  32.577358  76.309502        NaN  ...
2020-04-17  568.789978  16.360001  34.832329  79.671928        NaN  ...
2020-04-20  567.989990  16.610001  33.565151  77.326050        NaN  ...
2020-04-21  544.460022  16.230000  32.367821  74.882423        NaN  ...
2020-04-22  558.080017  16.090000  33.016376  76.964386        NaN  ...

Attributes     Volume                                                        \
Symbols           MCO        KSU        Y         MET        CMI         FE
Date
2013-04-01  1533800.0   700600.0  36300.0   5170600.0  1385100.0  1316900.0
2013-04-02   943500.0  1339600.0  24700.0   6503600.0  1346000.0  1812400.0
2013-04-03  1945400.0  1537800.0  55200.0   8810600.0  2030900.0  1801500.0
2013-04-04   983300.0  1056500.0  33600.0   6502900.0  1630700.0  2908800.0
2013-04-05  1140000.0  1016500.0  37700.0  15838000.0  1907600.0  4861300.0
...               ...        ...      ...         ...        ...        ...
2020-04-16  1263900.0  1323200.0  52100.0   7156200.0  1253500.0  2752700.0
2020-04-17  1523500.0  1507000.0  45500.0   7119100.0  1301000.0  2451700.0
2020-04-20   809400.0  1804400.0  48000.0   5212400.0  1576100.0  2836900.0
2020-04-21   807400.0  1263200.0  65000.0   5502600.0  1480100.0  3796200.0
2020-04-22   788300.0  1071800.0  66300.0   6105900.0   785400.0  2465200.0

Attributes
Symbols           BHF          FB        WRK        EBAY
Date
2013-04-01        NaN  22249300.0        NaN  48992800.0
2013-04-02        NaN  35153300.0        NaN  36184300.0
2013-04-03        NaN  48195200.0        NaN  27315400.0
2013-04-04        NaN  82016800.0        NaN  14034500.0
2013-04-05        NaN  64566600.0        NaN  17193400.0
...               ...         ...        ...         ...
2020-04-16  1774400.0  23593200.0  2407200.0  11205800.0
2020-04-17  1735200.0  20974800.0  2156700.0  15513600.0
2020-04-20  1903300.0  16110700.0  1677000.0  12664000.0
2020-04-21  1531000.0  24850500.0  1388800.0  12259600.0
2020-04-22  1432400.0  33369900.0  3881300.0   9823600.0

[1779 rows x 3582 columns]